#aboutBlock_wrapper{
    background: black;
    position: relative;
}

#aboutBlock{
    background-image: url('posthead_bg.JPG');
    background-size:cover ;
    background-position: center;
    opacity: .7;
    height: 100vh;
}


#infoAbout{
    max-width: 1000px;
    height: 500px;
    position: absolute;
    top: 27%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: white;
    
}


#pAboutOne{
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    line-height: 65px;
    letter-spacing: 2px;
}

#pAboutTwo{
    font-size: 28px;
    text-align: center;
    line-height: 40px;
    margin-top: 400px;
    letter-spacing: 2px;
}

#infoAbout div{
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#infoAbout a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 36px;
    color: white;
    letter-spacing: 5px;
    margin-left: 50%;
    
}